@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

/* VARIÁVEIS */

:root {
    /* cores */
    --cor-primaria: #f1a154;
    --cor-secundaria: rgb(106, 44, 145);
    --cor-ascento: #f7d23f;
    --cor-teste: #dd7666;
    --cor-teste2: #86699f;
    --cor-fundo: #ffeed9ff;
    --cor-texto: #333;
    /* fontes */
    --fonte-primaria: 'Montserrat';
    --fonte-secundaria: 'Open Sans';
    /* espaçamentos */
    --espaçamento1: 1.8rem;
}

/* Configurações iniciais */

* {
    font-family: Product Sans;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    height: 100%;
    width: 100%;
} 

body::-webkit-scrollbar {
    display: none;
}

#main {
    width: 100%;
    height: 100vh; 
}

/* NAV-BAR */

.nav-container {
    position: absolute; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%; 
    height: 8vh;   
    z-index: 99; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
}

.logo {
    margin-left: 1.8rem;
}

.nav-container img {
    width: 25px;
    height: 25px;
    object-fit: cover; /* Manter a proporção idependente do tamanho*/
    margin-right: 1.8rem;
}

.nav-container a {
    font-family: var(--fonte-primaria);
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.3s;
}

.nav-container a:hover {
    transform: scale(1.1);
}

.nav-menu {
    display: flex;
    gap: 50px; /* Espaçamento entre os itens do menu */
}

/* HERO SECTION */

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #4d231c;
    background-image: linear-gradient(150deg, #f7d23f, #f7b54a, #f5ac4e, #f4a451, #f29c55, #ef9558, #ec8d5b, #e8855f, #e37d63, #dd7666);
}

#hero h1 {
    font-family: var(--fonte-primaria);
    color: white;
    font-size: 16vw;
}

/* FADE-IN HERO */

.nav-container.is-visible {
    animation: fade-in 1s forwards;
}

#hero > * {
    opacity: 0;
}

#hero.is-visible > * {
    animation: fade-in 1s forwards;
}

#hero.is-visible h1 {
    animation-delay: 0.2s;
}

#hero.is-visible #copoacai,
#hero.is-visible #acai {
    animation-delay: 0.3s;
}

#hero.is-visible .contact-socials.hero {
    animation-delay: 0.2s;
}

/* BOTOES REDES SOCIAIS - HERO */

.contact-socials.hero {
    display: flex;
    align-items: center;
    position: absolute;
    top: 90%;
    left: 5%;
}

.social-btn.hero {
    color: var(--cor-fundo);
}

/* IMAGENS */

#acai {
    position: absolute;
    width: 14%;
    top: 10%;
    left: 45%;
    z-index: 2;
}

#copoacai {
    position: absolute;
    width: 29%;
    top: -5%;
    right: 26%;
    z-index: 3;
}

#folha {
    position: absolute;
    width: 18%;
    top: 10%;
    left: 0%;
    transform: rotate(60deg);
    z-index: 99;
}

#folha2 {
    position: absolute;
    width: 10%;
    top: 70%;
    right: 10%;
    transform: rotate(-90deg);
    z-index: 99;
}

#folha3 {
    position: absolute;
    width: 20%;
    top: 10%;
    right: 0%;
}

/* CARROSSEL INFINITO */

#acting {
    position: absolute;
    height: 9vh;
    width: 100%;
    display: flex;
    bottom: -9%;
    background-color: var(--cor-fundo);
    z-index: 1;
}

.acting-container {
    margin: 0 auto;
    display: flex;
    border: none;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0 0 15px  rgba(0, 0, 0, 0.205);
}

#acting::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: carrossel 30s infinite linear;
    padding-right: 1em;
}

.tag {
    flex: 0 0 5em;
    height: 3rem;
    padding: 0rem 5rem;
    background-color: transparent;
    font-family: var(--fonte-primaria);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--cor-texto);
    border-radius: 2em;
    text-align: center;
    align-content: center;
}

.tag.icons {
    transform: rotate(20deg);
    color: var(--cor-secundaria);
    flex: none;
    background-color: transparent;
    padding: 0em;
    border-radius: 0em;
    flex: none; 
    border: none;
    background-color: transparent;
    box-shadow: none;
}

/* ABOUT SECTION */

#about {
    display: flex;
    width: 100%;
    height: 100vh;
    background: var(--cor-fundo);
}

.left-side, .right-side{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
    width: 50%;
    height: 100%;
    opacity: 0;
}

/* FADE IN - ABOUT */

#about.is-visible .left-side,
#about.is-visible .right-side {
    animation: fade-in 1s forwards;
}

#about.is-visible .right-side {
    animation-delay: 0.3s;
}

.left-side svg {
    margin-top: 50vh;
    width: 90%;
    transform: rotateX(50deg);
}

.right-side h2  {
    font-family: var(--fonte-primaria);
    color: var(--cor-texto);
    font-size: 4vw; /*vw -> por cento da tela inteira */
}

.right-side p {
    font-family: var(--fonte-secundaria);
    color: var(--cor-texto);
    font-size: 0.9vw;
    width: 80%;
}

/* BOTAO SOBRE NOS (ENTRE EM CONTATO) */

.bnt.about:hover {
    background-color: #4a1c60;
}

/* PRODUCTS SECTION */

#products {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(150deg, #f7d23f, #f7b54a, #f5ac4e, #f4a451, #f29c55, #ef9558, #ec8d5b, #e8855f, #e37d63, #dd7666);
    gap: 5vh;
}

#products h1 {
    font-family: var(--fonte-primaria);
    color: white;
    font-size: 2.5vw;
    margin-bottom: 5rem;
}

/* CARDS */

.container-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    cursor: pointer;
}

.container-card:hover > :not(:hover){
    filter: blur(8px);
    opacity: 0.5;
    transform: scale(0.9);
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cor-fundo);
    width: 20vw;
    height: 50vh;
    flex-direction: column;
    margin-top: 10vh;
    border-radius: 20px;
    box-shadow: 0 10px 15px  rgba(0, 0, 0, 0.445), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.content-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10rem;
    gap: 0.8vh;
    width: 80%;
    color: var(--cor-texto);
}

.content-card h3 {
    font-size: 2vw;
    font-family: var(--fonte-primaria);
}
.content-card p {
    font-family: var(--fonte-secundaria);
    font-size: 0.7vw;
    font-weight: 500;
}

.bnt {
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    gap: 0.8rem;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: var(--cor-secundaria);
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.9vw;
    margin-top: 2rem;
    transition: all 0.3s ease;
}

.bnt span {
    font-family: var(--fonte-primaria);
}

.bnt:hover {
    background-color:#4a1c60;
}

/* IMAGENS CARDS - PRODUCTS */

#tapioca {
    position: absolute;
    top: -12%;
    width: 75%;
    left: 46%;
    transform: translate(-50%, 0%);
}

#poteacai {
    position: absolute;
    top: -22%;
    width: 70%;
    left: 50%;
    transform: translate(-50%, 0%); 
    z-index: 99;
} 

#burguer {
    position: absolute;
    top: -20%;
    width: 62%;
    left: 50%;
    transform: translate(-50%, 0%);
}

/* CONTACT SECTION */

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: -1;

}

#contact::before {
    content: "";
    background: url(/src/Assets/colheita.jpg) no-repeat center/cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    opacity: 0.3;
    z-index: 1;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-fundo);
    z-index: 2;
}

.contact-container h1 {
    font-family: var(--fonte-primaria);
    font-size: 2rem;
    margin-bottom: 0.8rem;
    text-align: center;
}

/* FADE-IN - CONTACT  */

.contact-container.is-visible {
    animation: fade-in 2s forwards;
}

.contact-container.is-visible {
    animation-delay: 0.3s;
}

.bnt.contact {
    background-color: #f18724;
    margin-bottom: 1.8rem;
    margin-top: 0rem;
    font-size: 0.8vw;
    padding: 0.6rem 1.2rem;
    gap: 0.6rem;
}

.bnt.contact:hover {
    background-color: #c45f00;
}

.contact-socials {
    display: flex;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--cor-fundo);
    border-radius: 99%;
    width: 4rem;
    height: 4rem;
    transform: scale(0.6);
    transition: all 0.3s ease;
}

.social-btn:hover {
    transform: scale(0.7);
    background-color: var(--cor-secundaria);
    color: white;
    border: var(--cor-primaria);
    cursor: pointer;
}

.social-btn i {
    font-size: 1.7rem;
    margin: 0rem 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.social-btn a {
    text-decoration: none;
    color: var(--cor-fundo);
}

/* FOOTER - RODAPE */

#footer {
    background-color: var(--cor-fundo);
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    width: 100%;
    height: 25vh;
}

#footer h1 {
    font-family: var(--fonte-primaria);
    color: var(--cor-texto);
    font-size: 1.4rem;
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
}

#footer p {
    font-family: var(--fonte-secundaria);
    color: #727272;
    font-weight: 500;
}
.links a, .info a {
    text-decoration: none;
    color: #727272;
    font-size: 0.9rem;
    font-family: var(--fonte-secundaria);
    font-weight: 500;
}

.links a:hover {
    color: #181818;
}

.company {
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 1rem;
}

.footer-about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.info {
    display: flex;
    align-items: baseline;
    gap: 0.3rem;
}

.links {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.direitos {
    background-color: rgb(255, 233, 206);
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.direitos p {
    font-family: var(--fonte-secundaria);
    font-size: 0.8rem;
}

.direitos {
    text-decoration: none;
}

.direitos span {
    font-family: var(--fonte-secundaria);
    font-size: 0.78rem;
    color: var(--cor-secundaria);
    font-weight: 650;
    cursor: pointer;
    text-decoration: none;
}

/* KEYFRAMES */

@keyframes carrossel {
    from { 
        translate: 0;
    }
    to {
        translate: -100%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1728px) {

    #acai {
    top: 20%;
}

#copoacai {
    top: 10%;
}

.bnt.about {
    padding: 1rem 1.5rem;
    font-size: 1vw;
}
}

@media screen and (max-width: 1440px){

#acai {
    width: 14%;
    top: 15%;
    left: 46%;
}

#copoacai {
    width: 29%;
    top: 5%;
    right: 26%;
}

/* PRODUCTS SECTION */

/* CARDS */

.card {
    height: 45vh;
}

.content-card {
    margin-top: 7rem;
}

/* FOOTER - RODAPE */

#footer {
    height: 30vh;
}

.company {
    width: 20%;
}

.bnt {
    font-size: 1vw;
}
.bnt.contact {
    font-size: 1vw;
}
}

@media screen and (max-width: 1000px) {
    
#acai {
    top: 35%;
    left: 45%;
    rotate: -30deg;
}

#copoacai {
    top: 29%;
}

.left-side svg {
    margin-top: 20vh;
    margin-left: 5vw;
    width: 70%;
}

/* CARDS */

.card {
    height: 28vh;
    width: 25vw;
}

.content-card {
    margin-top: 4rem;
}

/* FOOTER - RODAPE */

#footer {
    height: 30vh;
}

.company {
    width: 30%;
}

.bnt {
    font-size: 1.2vw;
}   

.bnt.contact {
    font-size: 1.2vw;
}

#acting {
    bottom: -7%;
}

}

@media screen and (max-width: 728px) {

.nav-container img {
    width: 20px;
    height: 20px;
    margin-right: 0.8rem;
}
.nav-container a {
    font-size: 12px;
}

.nav-menu {
    gap: 20px;
}

/* HERO SECTION */

#hero h1 {
    font-size: 20vw;
    letter-spacing: 0.2rem;
}

/* BOTOES REDES SOCIAIS - HERO */

.contact-socials.hero {
    top: 90%;
}

/* IMAGENS */

#acai {
    width: 14%; 
    top: 40%;
    left: 45%;
}

#copoacai {
    width: 31%;
    top: 35%;
    right: 23%;
}

/* ABOUT SECTION */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-side, .right-side{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-side svg {
    margin-top: 10vh;
    width: 70%;
}

.right-side h2  {
    font-size: 6vw;
}

.right-side p {
    font-size: 2vw;
    text-align: center;
    width: 150%;
}

/* PRODUCTS SECTION */

#products {
    flex-direction: column;
    gap: 1vh;
}

#products h1 {
    font-size: 5vw;
    margin-bottom: 3rem;
}

.bnt.about {
    font-size: 2vw;
}

/* CARDS */

.container-card {
    flex-direction: column;
    gap: 3rem;
}

.card {
    width: 40vw;
    height: 20vh;
    margin-top: 0vh;
    border-radius: 20px;
}

.content-card {
    margin-top: 4rem;
    gap: 0.8vh;
    width: 90%;
    color: var(--cor-texto);
}

.content-card h3 {
    font-size: 2.3vw;
}

.content-card p {
    font-size: 1.4vw;
}

.bnt {
    gap: 0.8rem;
    border-radius: 5px;
    padding: 0.4rem 1rem;
    font-size: 1.5vw;
    margin-top: 0.5rem;
}

/* IMAGENS CARDS - PRODUCTS */

#tapioca {
    top: -12%;
    width: 65%;
    left: 48%;
}

#poteacai {
    top: -22%;
    width: 55%;
    left: 50%;
} 

#burguer {
    top: -20%;
    width: 48%;
    left: 50%;
}

/* CONTACT SECTION */

.contact-container h1 {
    font-size: 1.2rem;
}

.bnt.contact {
    font-size: 2vw;
    padding: 0.6rem 1.2rem;
    gap: 0.6rem;
}

.social-btn {
    width: 3rem;
    height: 3rem;
}

.social-btn i {
    font-size: 1.4rem;
}

/* FOOTER - RODAPE */

#footer {
    height: 22vh;
}

#footer h1 {
    font-size: 1rem;
}

#footer p {
    font-size: 0.6rem;
}
.links a, .info a {
    font-size: 0.6rem;
}

.links a:hover {
    color: #181818;
}

.company {
    width: 35%;
}
}

@media screen and (max-width: 428px) {

.nav-container img {
    width: 10px;
    height: 10px;
    margin-right: 1rem;
}

.logo {
    margin-left: 1rem;
}

.nav-container a {
    font-size: 10px;
}

.nav-menu {
    gap: 10px;
}

/* BOTOES REDES SOCIAIS - HERO */

.contact-socials.hero {
    top: 85%;
}

.social-btn.hero {
    width: 2.5rem;
    height: 2.5rem;
    transform: scale(0.7);
}

.social-btn.hero i {
    font-size: 1.2rem;
}

/* IMAGENS */

#acai {
    width: 14%; 
    top: 35%;
    left: 47%;
}

#copoacai {
    width: 31%;
    top: 30%;
    right: 23%;
}

/* CARROSSEL */

.group {
    animation: carrossel 12s infinite linear;
}

.tag {
    padding: 0rem 1rem;
    font-size: 1rem;
}

/* ABOUT SECTION */

.left-side svg {
    margin-top: 1vh;
}

.right-side p {
    font-size: 2.3vw;
}

/* PRODUCTS SECTION */

#products {
    height: 130vh;
}

/* CARDS */

.container-card {
    flex-direction: column;
    gap: 3rem;
}

.card {
    width: 40vw;
    height: 30vh;
    margin-top: 0vh;
    border-radius: 10px;
}

.content-card {
    margin-top: 2rem;
    gap: 0.4vh;
    width: 90%;
}

.content-card h3 {
    font-size: 3vw;
}

.content-card p {
    font-size: 1.6vw;
}

.bnt {
    gap: 0.4rem;
    padding: 0.4rem 0.5rem;
    font-size: 1.4vw;
    margin-top: 0.6rem;
}

/* CONTACT SECTION */

.bnt.contact {
    font-size: 3vw;
}

/* FOOTER - RODAPE */

#footer {
    height: 32vh;
}

#footer h1 {
    font-size: 0.6rem;
}

#footer p {
    font-size: 0.4rem;
}

.links a, .info a {
    font-size: 0.4rem;
}

.links a:hover {
    color: #181818;
}

.company {
    width: 35%;
}

.direitos p {
    font-size: 0.5rem;
}

.direitos span {
    font-size: 0.5rem;
}
}